/dbPersistenceManager.class
/filePersistenceManager.class
/package-info.class
/persistenceManager.class
/DbPersistenceManager.class
/FilePersistenceManager.class
/PersistenceManager.class
/ArtikelListe.class
